@import '~office-ui-fabric-react/dist/sass/References.scss';

.FeedBackBodySection {
  background: #b3fbf2;
  padding: 50px;
}

.Header {
  color: #00584d;
  font-weight: bold;
  font-size: 26px;
}

.LabelSection {
  color: #00584d;
  font-weight: bold;
  font-size: 18px;
}

.btnSection {
  width: 66%;
  height: 40px;
  margin: 20px 0px;
  border: none;
  border-radius: 6px;
  background: #edc32c;
  color: #00584d;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
