@import '~office-ui-fabric-react/dist/sass/References.scss';
.FeedBackBodySection {
    background: #d8f4f7;
    padding: 16px;
}

.Header {
    color: #03606a;
    font-weight: 600;
    font-size: 18px;
}

.LabelSection {
    color: #03606a;
    font-size: 14px;
    padding-bottom: 0;
}

.btnContainer {
    display: flex;
    // justify-content: flex-end;
}

.btnSection {
    // width: 66%;
    // height: 40px;
    width: 50%;
    padding: 6px 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 3px;
    background: #fdbe14;
    color: #03606a;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}